_build
_site
.DS_Store
library_*.bib
research/*/goose-article.cls
research/*/unsrtnat.bst
research/*/library.bib
research/library.bib
main.pdf
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.bbl
*.blg
*.synctex.gz
