<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Career</h1>
    </div>
  </div>
  <div class="row features-block">
    <div class="col-lg-12">
      <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
      {% for career in site.data.career %}
      {% assign loopindex = forloop.index | modulo: 2 %}
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon navy-bg wow rotateIn">
            <i class="fa {{ career.icon }}"></i>
          </div>
          <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">
            <h2>{{ career.name }}</h2>
            <p>{{ career.desc }}</p>
            <span class="vertical-date">{{ career.date }}<br/> <small>{{ career.job }}</small>
            </span>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
